#parse('/cms/head.html')

<form action='/article/create'  method='post' class='form' enctype="multipart/form-data">
	<input type='hidden' name='uid' value='$!uid' />
	<div><label><h3>$lang.get('article.title')(<r>*</r>):</h3><input type='text' name='title' value="$!title"/></label></div>
	<div><label><h3>$lang.get('article.seq'):</h3><input type='number' name='seq' value="$!seq"/></label></div>
	<div><label><h3>$lang.get('article.category'):</h3><input type='text' name='category' value="$!category"/></label></div>
	<div><label><h3>$lang.get('article.tags'):</h3><input type='text' name='tag' value="$!tag"/></label></div>
	<div><label><h3>$lang.get('article.commentable'):</h3><input type='checkbox' name='commentable' #if($commentable=='on') checked #end/></label></div>
	<div><label><h3>$lang.get('article.content'):</h3><textarea richedit='true' name='content'>$!content</textarea></label></div>

	<button type='submit'>$lang.get('btn.create')</button>
</form>

#parse('/cms/foot.html')
