<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport"  content="width=device-width, height=device-height,initial-scale=1.0">

<link rel="shortcut icon" href="/favicon.ico"
	type="image/vnd.microsoft.icon" />
<title>$!a.title</title>
<style>
#wrapper{
	max-width:800px;
	margin: 0 auto;
}
#status{
    margin-top: 20px;	
}
#comments ul{
    list-style: none;	
}
</style>
</head>
<body>
	<div id="wrapper">
		<h1 class='title'>$!a.title</h1>
		<div class='content'>$!a.content</div>

		<div id='status'>
			<span>$lang.get("cms.reads"):$!a.reads</span>
			<span>$lang.get("cms.likes"):$!a.likes</span>
		</div>
		
		<div id='comments'>
			<ul>
				#foreach($f in $a.comments)
				<li>
					<p class='user'>$f.user_obj.nickname</p>
					<p>$f.content</p>
					<p>$!lang.format($f.created, 'yy-MM-dd hh:mm')</p>
				</li>
				#end
			</ul>
			<div class='comment'>
				<form method="post">
					<input type='hidden' name='id' value='$!a.id'/>
					<textarea name='content'></textarea>
					<button type='submit'>$lang.get('btn.ok')</button>
				</form>
			</div>
		</div>
	</div>
	
	$!global.get('site.counter')
</body>
</html>
