#parse('/cms/head.html')

<div class="articles panel">
	<div class='center'>
		<div class='list'>
			<div class='title'>
				#if($wd)
				$lang.get('cms.search.title')
				#else
				$lang.get('cms.list.title')
				#end
			</div>
			<ul>
			#if($list.size() > 0)
				#foreach($p in $list)
				<li class='article'>
					#if($p.img)
					<img src="$p.img?size=180x150"/>
					#end
					<h1><a href='/article?id=$p.id'>$!lang.truncate($p.title, 30)</a></h1>
					<div class='status'>
						<span class='icon-user'>$!p.user_obj.nickname</span>
						<span class='icon-folder'>$!p.category</span>
						<span class='icon-calendar'>$lang.format($p.created, 'yy-MM-dd HH:mm')</span>
						<span class='icon-eye'>$p.reads</span>
						<span class='icon-star-empty'>$p.likes</span>
						#if($me.id == $p.uid)
						<a class='icon-pencil pull-right' href='/article/edit?id=$p.id'>$lang.get('a.edit')</a>
						<a class='icon-minus pull-right btn-danger' href='javascript:;' onclick="_delete('$p.id')">$lang.get('a.delete')</a>
						#end
					</div>
					<div class='content'>
						$!lang.truncate($p.text, 150) <a href='/article?id=$p.id'>$lang.get('a.read.more')</a>
					</div>
					<div class='tags icon-bookmark'>
						#foreach($s in $p.tags)
						<a href='/myblog?uid=$user.id&tag=$s'>$s</a>
						#end
					</div>
				</li>
				#end
			#else
				<li class='text-center text-danger'>$lang.get('cms.notfound.result')</li>
			#end
			</ul>
			#parse('/cms/goto.page.html')
		</div>

		<div class='nav-right'>
			<div class='search'>
				<form class="search-inline" action="/myblog">
					<input type="hidden" name="uid" value="$!user.id"/>
			      	<input type="text" name="wd" value="$!wd" placeholder="$lang.get('search.hint')">
			      	<button type="submit" class="icon-search"></button>
				</form>
			</div>
			#if($me.id == $user.id)
			<div class='compose'>
				<a class='btn btn-success' href='/article/create?uid=$!user.id'>$lang.get('a.compose')</a>
			</div>
			#end
			<div class='latest'>
				<div class='title'>$lang.get('latest.title')</div>
				<ul>
					#foreach($p in $latest)
					<li>
						<img src="$p.img">
						<span><a href='/article?id=$p.id'>$!lang.truncate($p.title, 20)</a></span>
					</li>
					#end
				</ul>
			</div>
			<div class='hotest'>
				<div class='title'>$lang.get('hotest.title')</div>
				<ul>
					#foreach($p in $hotest)
					<li>
						<img src="$p.img">
						<span><a href='/article?id=$p.id'>$!lang.truncate($p.title, 20)</a></span>
					</li>
					#end
				</ul>
			</div>
			<div class='categories'>
				<div class='title'>$lang.get('categories.title')</div>
				<ul>
					#foreach($p in $categories)
					<li>
						<span><a href='/article?id=$p.id'>$!lang.truncate($p.title, 20)($p.count)</a></span>
					</li>
					#end
				</ul>
			</div>
			<div class='tags'>
				<div class='title'>$lang.get('tags.title')</div>
				<ul>
					#foreach($p in $tags)
					<li>
						<span><a href='/article?id=$p.id'>$!lang.truncate($p.word, 20)($p.count)</a></span>
					</li>
					#end
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
function _delete(id, o) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		$.post("/article/delete", {id:id}, function(d){
			$(o).parent().parent().remove();
		})
	}
}
</script>
#parse('/cms/foot.html')
