<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport"  content="width=device-width, height=device-height,initial-scale=1.0">

<link rel="shortcut icon" href="/favicon.ico"
	type="image/vnd.microsoft.icon" />

<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href='/cms/myblog.css' rel='stylesheet' />
<script src="/js/jquery-2.1.4.min.js"></script>

<title>$!user.nickname - $lang.get("myblog.title")</title>
</head>
<body>
<header>
	<div class='center'>
		<div class='logo'>
			$!helper.get('logo')
		</div>
		<ul class='nav'>
			#foreach($m in $cates)
			<li><a href='$m.url'>$m.title</a></li>
			#end
			#if($me.id == $user.id)
			<li><a href='/myblog/setting/base'>$lang.get('a.cms.myblog.setting')</a></li>
			#end
		</ul>
	</div>
</header>
<div class='splash panel'>
	<div class='bg' style="background-image:url($!helper.get('splash.background'))"></div>
</div>
<div class="panel content">
	<div class='center'>
		<div class='list'>
			
		</div>
		<div class='nav-right'>
			
		</div>
	</div>
</div>
<footer>
	
</footer>
<script src="/bootstrap/js/bootstrap.min.js"></script>

$!global.get('site.counter')
</body>
</html>
